<h1 align="center">Les Banques</h1>
<br>

Pour ajouter une nouvelle banque, cliquez ici :
<a class="btn btn-primary" href="/banques/save">Nouvelle Banque</a>
<br><br>

<h3 align="center" style="background-color: rgb(254, 0, 161);">Liste des banques</h3>

<table border="4" align="center" class="table table-dark">
  <thead>
    <tr>
      <th>ID Banque</th>
      <th>Nom</th>
      <th>Capital</th>
      <th>Adresse</th>
      <th>Comptes</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let banque of banques">
      <td>{{banque.id}}</td>
      <td>{{banque.nom}}</td>
      <td>{{banque.capital}}</td>
      <td>{{banque.adresse}}</td>
      <td><button class="btn btn-info" >Comptes</button></td>
      <!-- <td><button class="btn btn-info" (click)="comptesBanque(banque)" >Comptes</button></td> -->
      <td><button class="btn btn-warning" (click)="updateBanque(banque)" >Modifier</button></td>
      <td><button class="btn btn-danger" (click)="deleteBanque(banque)" >Supprimer</button></td>
    </tr>
  </tbody>
</table>
